<div class="container mx-auto sm:p-8 max-w-7xl">
  <div class="flex gap-8 w-full">
    <!-- Progress Tracker Vertical -->
    <div class="w-64 p-6 hidden md:block">
      <h3 class="text-lg font-semibold mb-6 text-gray-800">Progreso</h3>
      <app-progress-vertical
        [currentStep]="currentStep"
      ></app-progress-vertical>
    </div>

    <!-- Contenido Principal -->
    <div class="flex-1 bg-white sm:rounded-2xl sm:shadow-lg p-8">
      <h1
        class="text-3xl font-bold mb-6 bg-gradient-to-r from-blue-900 to-blue-950 bg-clip-text text-transparent"
      >
        ¡Hola Flores, empecemos a crear tu aviso!
      </h1>
      <p class="text-gray-600 mb-8 text-lg">
        Cuéntanos, ¿qué quieres publicar?
      </p>
      <!-- Tipo de Propiedad -->
      <app-type-property
        *ngIf="currentStep === 1"
        (nextStepEvent)="nextStep()"
        (previousStepEvent)="backStep()"
      >
      </app-type-property>

      <!-- Ubicación -->
      <app-location
        *ngIf="currentStep === 2"
        (nextStepEvent)="nextStep()"
        (previousStepEvent)="backStep()"
      >
      </app-location>

      <!-- Caracteristicas -->
      <app-characteristics
        *ngIf="currentStep === 3"
        (nextStepEvent)="nextStep()"
        (previousStepEvent)="backStep()"
      >
      </app-characteristics>
    </div>
  </div>
</div>
